.highlight {
    position: relative;

    &:hover,
    &:focus {
        .code-block-panel {
            display: block;
        }
    }

    pre {
        max-height: 560px;
        overflow: auto;
        padding: 1rem 0.5rem;

        code {
            word-break: break-all;

            &.code-no-ln {
                .ln,
                > span > span:first-child {
                    display: none;
                }
            }

            &.code-wrap {
                white-space: pre-wrap !important;
            }

            &::before,
            &::after {
                position: absolute;
                right: .75rem;
                font-weight: 700;
            }

            &::before {
                content: attr(data-lang);
                top: .25rem;
                text-transform: uppercase;
                font-size: 0.75rem;
            }

            &::after {
                content: attr(title);
                bottom: .25rem;
            }
        }
    }
}

.code-block-panel-wrapper {
    position: absolute;
    top: 0.75rem;
    right: 1rem;
}

.code-block-panel {
    display: none;
    position: sticky;
}

.code-block-action {
    background: #323232;
    border: none;
    border-radius: 0.25rem;
    color: white;
    cursor: pointer;
    display: inline-flex;
    margin: 0 0.25rem;
    padding: 0.25rem;

    svg {
        vertical-align: -0.125rem;
    }
}
